@import './bootstrap_custom.scss';
@import 'materialize-css/dist/css/materialize';

.active .type14 {
  background-color: #fff;
  width: 12px;
  margin: auto;
}
.active .type14:before {
  width: 6px;
}
.active .type14:after {
  width: 25px;
}
